<p>sobre works!</p>
<div>
    <h2>Trabalho com fotografia há 4 anos, desenvolvendo...</h2>
    
    <p>Durante esses anos, tive a oportunidade de capturar momentos especiais, contar histórias visualmente e explorar a beleza única de cada cena. Minha abordagem é centrada no cliente, buscando sempre superar expectativas e criar imagens que transmitam emoções genuínas.</p>
    <p>Além da fotografia, também me especializo em serviços como filmagem, edição, utilização de drones para perspectivas únicas e cobertura de eventos especiais. Cada projeto é uma oportunidade de criar algo único e significativo, proporcionando aos clientes lembranças duradouras e impactantes.</p>
    <p>Minha missão é não apenas capturar momentos, mas criar experiências visuais que perduram ao longo do tempo. Estou comprometido em oferecer serviços de alta qualidade, personalizados para atender às necessidades individuais de cada cliente.</p>
    <p>Se você está procurando um profissional apaixonado pela arte da fotografia, estou aqui para transformar suas ideias em imagens extraordinárias. Obrigado por considerar meu trabalho e estou ansioso para colaborar em seu próximo projeto fotográfico.</p>
  </div>