<span>{{ title }} app is running!</span>

<app-contato></app-contato>
<app-sobre></app-sobre>
<app-home></app-home>
<app-login></app-login>
<app-navbar></app-navbar>

<router-outlet></router-outlet>


<div class="menu-card__types">
    <div class="menu-card__type menu-card__type--home">Home</div>
    <div class="menu-card__type menu-card__type--sobre">Sobre</div>
</div>
<div class="menu">
    <div class="menu-card__image"></div>
    <img src="https://www.pcdf.df.gov.br/media/k2/items/cache/d0a6ef54d6cfe9f9dfaaba28d78960e2_L.jpg" alt="Imagem">
    <div class="menu--card__number"> 001</div>
    <div class="menu--card__nmae"> imagem1</div>
</div>